extends layout

block app-title
	| Details
block container
	div#team-details
		h1 Team Details
		hr
		div.row
			div.col-md-3
				if result.logo
					img(src= result.logo)
				else 
					img(src= "http://www.nakov.com/wp-content/uploads/2011/09/image43.png") 
			div.col-md-9
				div.row
					div.col-md-4
						h4 Name:
					div.col-md-8
						h4 #{result.name}
				div.row
					div.col-md-4
						h4 Form:
					div.col-md-8
						h4 #{result.form}
				div.row
					div.col-md-4
						h4 Github:
					div.col-md-8
						h4
							a(href= result.github target="blank") #{result.github}
				div.row
					div.col-md-4
						h4 Max number of users:
					div.col-md-8
						h4 #{result.maxUsers}
				div.row
					div.col-md-4
						h4 Number of users:
					div.col-md-8
						h4 #{result.users.length}
		div.row
			div.col-md-12
				h2 Members:
		div.row
			div.col-md-12
				h4 Users applied to this team:
				div.row
					div.col-md-8
						h5 Nikolay wants to join team.
					div.col-md-2
						input(type="submit" value="Accept").btn.btn-success
					div.col-md-2
						input(type="submit" value="Decline").btn.btn-danger