extends ../layout/main-layout

block app-title
    | Create
block container

    #team-create
        h1 Create Team
        hr

        form.form-horizontal.panel.panel-default(
            method="post" action="/teams/create", data-parsley-validate)

            fieldset.panel-body

                div.form-group.row
                    div.col-md-3
                        label Name:
                            input.form-control(
                                type="text"
                                name="name"
                                minlength="5",
                                maxlength="100"
                                required)

                    div.col-md-2
                        label Max user for team:
                            input.form-control(
                                type="number"
                                name="maxUsers"
                                min="2"
                                max="20"
                                required)

                    div.col-md-2
                        label Form:
                            select.form-control(name="form", required)
                                option(value="onsite") On site
                                option(value="online") Online

                    div.col-md-5
                        label GitHub:
                            input.form-control(type="url" name="github")

                div.form-group.row
                    div.col-md-5
                        label Logo:
                            input.form-control(type="url" name="logo")

                div.row
                    div.col-md-6
                        input.btn.btn-info(type="submit" value="Create")