extends ../layout/main-layout

block app-title
    | Home
block container
    h1 Welcome to teamwork-connect

    include ../mixins/_flash-alert
        if messages
            +flashAlert(messages)

    form.form-horizontal.panel.panel-default.col-lg-6.col-lg-offset-3(
        method='post', data-parsley-validate)
        fieldset.panel-body
            legend Login

            // Username
            .form-group
                label.col-lg-4.control-label(for='username') Username
                .col-lg-7
                    input#username.form-control(
                    type='text',
                    placeholder='Super-cool-nickname',
                    minlength="3"
                    maxlength="20"
                    name='username',
                    required)

            // Password
            .form-group
                label.col-lg-4.control-label(for='password') Password
                .col-lg-7
                    input#password.form-control(
                    type='password',
                    placeholder='ConsoleApplication1',
                    name='password',
                    minlength="4"
                    maxlength="64"
                    required)

            .form-group
                .col-lg-7.col-lg-offset-4
                    button.btn.btn-primary.pull-right(type='submit') Login